<div class="container">
        <div class="row">
                <div class="col-12">
                        <form action="/dashboard/<%= user.id %>/edit-password" method="post" id="edit-password-form" onsubmit="return validateEditPasswordForm()">

                                
                                <div class="input-group row mb-3">
                                        <div class="col-12 text-center">
                                                <h3>Account Details</h3>
                                        </div>
                                </div>

                                <div class="input-group row mb-2">
                                        <div class="col-3">
                                                <label for="password" class="form-label">New Password <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-9">
                                                <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                </div>

                                <div class="input-group row mb-3">
                                        <div class="col-3">
                                                <label for="confirmPassword" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-9">
                                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                                        </div>
                                </div>

                                <div class="d-grid gap-2 col-4 mx-auto mt-5">
                                        <button class="btn btn-primary" type="submit">Save Account Details</button>
                                </div>

                        </form>
                </div>
        </div>
</div>