<%- include('head')  %> 

<nav class="navbar navbar-light sticky-md-top" id="header">
        <div class="container">
                <a class="navbar-brand" href="/">Online Document Tracking System</a>
                <div class="ml-auto row align-items-center">
                        <% if (!user.firstTime) { %>
                                <div class="col-10"><a class="btn btn-primary ml-auto" href="/dashboard/<%= user.id %>/create-new-doc">Create New Document</a></div>
                                <div class="col-2">
                                        <a href="#" onclick="hideUnhide('profilecard')">
                                                <% if (user.profilePic == '') { %>
                                                        <img src="/images/no-user.png" alt="No Profile Picture" class="rounded-circle">
                                                <% }else{ %>
                                                        <img src="/images/profile-pictures/<%= user.profilePic %>" alt = "Profile Picture" class="rounded-circle">
                                                <% } %>
                                        </a>
                                </div>
                        <% } %>
                </div>
        </div>
</nav>

