<%- include('head')  %> 

<nav class="navbar navbar-light sticky-md-top" id="header">
        <div class="container">
                <a class="navbar-brand" href="/">Online Document Tracking System</a>
        </div>
</nav>

