<%- include('head')  %> 

<nav class="navbar navbar-light sticky-md-top" id="header">
        <div class="container">
                <a class="navbar-brand" href="/">Online Document Tracking System</a>
                <div class="ml-auto row align-items-center">
                        <div class="col-10"><a class="btn btn-primary ml-auto" href="/dashboard/create-new-doc">Create New Document</a></div>
                        <div class="col-2"><a href="#" onclick="hideUnhide('profilecard')"><h1><em class="bi bi-person-circle text-primary" id="profile-icon" ></em></h1></div></a>
                </div>
        </div>
</nav>

<%- include('foot') %> 