                                <div class="col-12 col-md-6 align-self-center" id="left-div">
                                        <img src="./images/iiest-logo.png" alt="IIEST Logo" id="home-logo"/>
                                        <h3>Online Document Tracking System</h3>
                                        <p>Please mail your concerns to "support mail id"</p>
                                </div>