<div class="col-2 position-fixed" id="left-menu-bar">
        <div class="row text-center">
                <img src="/images/iiest-logo.png" alt="IIEST-Logo" id="menu-logo"></img>
                <h5>Admin's Dashboard</h5>
        </div>
        <div class="row text-center mt-2">
                <div class="col-12">
                        <p><a href="/admin/" class="<%= active === 'dashboard' ? 'text-bold':'' %>">Active Users</a></p>
                        <p><a href="/admin/add-new-user" class="<%= active === 'add-new-user' ? 'text-bold':'' %> ">Add New User</a></p>
                </div>   
        </div>
</div>
