<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h4 class="modal-title text-center">Welcome, Dr. Indrajit Banerjee</h4>
                        </div>
                        <div class="modal-body">
                                <p class="text-center">This is your profile summary</p>
                                <table class="table table-striped">
                                        <tr>
                                                <td>Pending Documents</td>
                                                <td>0</td>
                                        </tr>
                                        <tr>
                                                <td>Forwarded Documents</td>
                                                <td>0</td>
                                        </tr>
                                        <tr>
                                                <td>Drafts</td>
                                                <td>0</td>
                                        </tr>
                                        <tr>
                                                <td>Authored Documents</td>
                                                <td>0</td>
                                        </tr>
                                        <tr>
                                                <td>Resolved Documents</td>
                                                <td>0</td>
                                        </tr>
                                        <tr>
                                                <td>Total Documents</td>
                                                <td>0</td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
</div>
