<%- include('./partials/header_admin') %>
<div class="container-fluid">
        <div class="row">
                <%- include('./partials/left-menubar_admin', {active: 'add-new-user'})  %>  
                
                <!-- Main Content-->
                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10 text-center">
                                                <h2>Add New User</h2><hr>
                                                <p>Please carefully fill up the details to add a new user to the system</p>
                                        </div>
                                        <div class="col-10">
                                                <%- include('./partials/add-new-user-form'); %>
                                        </div>
                                </div>      
                        </div>
                </div>
        </div>
</div>

<%- include('./partials/foot') %>