<%- include('./partials/header') %>
<div class="container-fluid">
        <div class="row">
                <%- include('./partials/left-menubar')  %>  
                <%- include('./partials/profile-card') %>
        </div>
</div>
