<%- include('header') %>
<div class="container-fluid">
        <div class="row">
                <%- include('left-menubar')  %>  
                <%- include('profile-card') %>
        </div>
</div>
