<%- include('./partials/head') %>
        <div id="home">
                <div class="container text-center" id="home">
                        <div class="row justify-content-center">
                                <%- include('./partials/landing-logo') %>
                                <%- include('./partials/forgot-pwd-form-3') %>
                        </div>
                </div>
        </div>
        
<%- include('./partials/foot') %> 