<%- include('./partials/header', {user: user}) %> 
<div class="container">
        <div class="row  mb-3 mt-3 text-center">
                <div class="col-12 col-md-8 offset-md-2">
                        <h2>Signing in for the first time?</h2>
                        <p>Hey, new user! We value your security. Before you access your documents dashboard, please change your account password with a new one.</p>
                        <hr>
                </div>
        </div>
        <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                        <%- include('./partials/edit-password-form', {user: user}) %>
                </div>
        </div>
        
</div>