<div class="col-2" id="left-menu-bar">
        <div class="row text-center">
                <img src="/images/iiest-logo.png" alt="IIEST-Logo" id="menu-logo"></img>
                <h5>Online Document Tracking System</h5>
        </div>
        <div class="row text-center">
        <div class="col-12">
                <p>Pending</p>
                <p>Forwarded</p>
                <p>Drafts</p>
                <p>Authored</p>
                <p>Resolved</p>
                <p>All Documents</p>
        </div>   
        </div>
</div>
