<%- include('header') %>
<div class="container-fluid">
        <div class="row">
                <%- include('left-menubar', {active: 'pending'})  %>  
                <%- include('profile-card') %>
                
                <!-- Main Content-->
                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <h2>Welcome, Dr. Indrajit Banerjee</h1>
                                                <p>Seems like you have some works pending</p>
                                        </div>
                                </div>
                                
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <table class="table table-striped">
                                                        <thead class="thead-light">
                                                                <tr>
                                                                        <th scope="col">Document ID</th>
                                                                        <th scope="col">Document Subject</th>
                                                                        <th scope="col">Date Received</th>
                                                                        <th scope="col">Received From</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
