<%- include('./partials/header', {user: user}) %>
<div class="container-fluid">
        <div class="row">
                <%- include('./partials/left-menubar', {active: 'resolved', user: user})  %>  
                <%- include('./partials/profile-card', {user: user}) %>

                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <h2>Resolved Documents</h1><hr> 
                                                <% if (user.documents.resolved.length) { %>
                                                        <p>These are the resolved/inactive documents</p>
                                                <% } else { %>
                                                        <p>None of your documents got resolved recently!</p>
                                                <% } %>
                                        </div>
                                </div>
                                
                                <% if (user.documents.resolved.length) { %>
                                        <div class="row justify-content-center">
                                                <div class="col-10">
                                                        <table class="table table-striped">
                                                                <thead class="thead-light">
                                                                        <tr>
                                                                                <th scope="col">Document ID</th>
                                                                                <th scope="col">Document Subject</th>
                                                                                <th scope="col">Date of Resolve</th>
                                                                                <th scope="col">Resolved by</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                <% } %>
                        </div>
                </div>
        </div>
</div>

<%- include('./partials/foot') %>